<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JsPractice</title>
    <link rel="stylesheet" type="text/css" href="static/practice_1.css">
</head>
<body>
<div id="div">
    <!--<a id="aid" href="http://www.baidu.com">link</a>
    <p id="result"></p>-->
   <!-- <form>
        <input id="txt" type="text">
        <h3 id="tagp">hello</h3>
        <h3>world</h3>
        <input id="btn" type="button" onclick="demo9()" value="button">
        &lt;!&ndash;文本框内容改变事件&ndash;&gt;
        <input type="text" onchange="demo5(this)">
        &lt;!&ndash;文本框内容选中事件和光标聚集事件&ndash;&gt;
        <input type="text" onselect="alert('文本框内容被选中了')" onfocus="demo6(this)">
    </form>-->
    <!--"this"关键字是指向当前函数的-->
    <!--<div id="div" class="div" onmouseover="onOver(this)" onmouseout="onOut(this)"></div>
    <button id="btn" onclick="demo11()">button</button>
    <button id="btn1">button1</button>
    <button id="btn2">button2</button>-->
    <!--<button id="btn3">button3</button>
    <a href="http://www.baidu.com" id="aid">baidu</a>-->
    <p id="ptime"></p>
    <button id="btn" onclick="getLoc()">button</button>
    </div>
    <script type="text/javascript" src="static/practice_1.js"></script>
</body>
</html>